/node_modules
/public/hot
/public/storagegit
/storage/*.key
/vendor
/public/storage
/site
/.idea
/resources/views/bckp
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
error_log
/public/wp-content
/public/wp-content/
/public/wp-content/*
public/wp-content
public/wp-content/
/public/wp-content2
/public/wp-content2/
/public/wp-content2/*
public/wp-content2
public/wp-content2/